body{
    background-image: linear-gradient(to bottom, oklch(97.3% 0.071 103.193),oklch(94.5% 0.129 101.54) );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    margin-top: 100px;
    
}
.estrela-borda{
    box-shadow: 10px;
    zoom: min(1, 1000vw / 600px);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(
        50% 0%,
        62% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 72%,
        18% 100%,
        31% 59%,
        0% 38%,
        38% 38%);
}
.estrela{
    width: 140px;
    height: 140px;
    background: rgb(255, 255, 255);
    clip-path: inherit;
}

.estrela-borda:hover .estrela {
    background-color: gold;
}

